.anook-badge, .anook-badge *{
	box-sizing:border-box;
}
.anook-badge a{
	color:white;
	text-decoration: none !important;
}
.anook-badge span{
	display:block;
	overflow:hidden;
}
.anook-badge small{
	color:#8C8C8C;
}

/* Container is .anook-badge */
.anook-badge{
	padding:20px;
	color:white;
	background:rgb(60,60,60);
	overflow:hidden;
	background: top right url("images/background.png") rgb(29,28,28) no-repeat ;
	background-size:160%;
	border-radius:3px;
	margin:20px auto;
	width:320px;
	max-width:100%;
}
.anook-badge.thin{
	text-align:center;
}
.anook-badge:last-child{
	margin-bottom:0; /* If you have one above the other - relates to the shortcode [anook user="surdaft" nook="3855"]  */
}

/*
	Top right logo, or nook icon
*/
.anook-user .logo{
	height:15px;
	float:right;
	clear:right;
	transition:opacity .2s ease-in;
	margin-bottom:15px;
}
.anook-badge .logo{
	opacity:0.2;
}
.anook-badge .logo:hover{
	opacity:0.5;
}
.anook-badge:not(.anook-user) .logo{
	float:right;
	height:60px;
	margin-bottom:0;
}
.anook-badge.thin:not(.anook-user) .logo{
	display:none;
}

/*
	Img container (propicceh)
*/

.anook-badge .img-container{
	max-width:45%; /* max-width 45% is = to 128px / 320px */
	max-height:94px;
	overflow:hidden;
	float:left;
	margin:0 auto;
}
.anook-badge.thin .img-container{
	width:auto;
	height:auto;
	float:none;
}
.anook-badge .img-container-nook{
	width:64px;
	height:64px;
	overflow:hidden;
	float:left;
}
.anook-badge.thin > #image-container-nook{
	overflow:hidden;
	height:auto;
	width:auto;
	float:none;
}
.anook-badge .img-container img{
	width:100%;
}
.anook-badge .img-container-nook img{
	width:64px;
}
.anook-badge.nook-ultra-thin .img-container-nook{
	display:block;
	float:none;
	width:auto;
}

/*
	Profile info container
*/
.anook-badge .right{
	margin-left:20px;
	display:inline-block;
}
.anook-badge:not(.anook-user) .right{
	width:135px;
}
.anook-badge.thin .right{
	margin-left:0;
	display:block;
	width:100%;
}

/*
	Profile information
*/
.anook-badge.thin .right > small{
	margin:4px 0;
}
.anook-badge small, .anook-badge #country{
	font-size: 12px;
	line-height: 12px;
	display:block;
	overflow:hidden;
}
.anook-badge #country{
	margin-bottom:24px;
	color:#8C8C8C;
	overflow:visible;
}
.anook-badge.thin #country{
	margin-top:5%;
}
.anook-badge #follow-button{
	color:#8C8C8C;
	background: #464343 url('images/listItemAction.png') no-repeat 0px -40px;
	transition:text .2s linear;
	padding:2px 8px 2px 20px;
	border-radius:2px;
	font-size:12px;
	overflow:hidden;
}
.anook-badge #follow-button:hover{
	color:white;
	background-position:0px -80px;
}
.anook-badge #username{
	line-height: 16px;
	margin-bottom: 4px;
}
.anook-badge #username a{
	font-size:16px;
}
.anook-badge.thin #username{
	margin-top: 10px;
}

/*
	Games list
*/
.anook-badge > ul{
	list-style:none;
	margin:15px 0 0;
	padding:15px 0 0;
	border:0;
	border-top:1px solid rgba(255,255,255,0.2);
	background:none;
}
.anook-badge.thin > ul{
	margin-top:15px;
}
.anook-badge > ul > li{
	list-style:none;
	margin:0;
	padding:0;
	border:0;
	background:none;
	line-height:20px;
	overflow:hidden;
	margin-bottom:10px;
}
.anook-badge > ul > li:last-child{
	margin-bottom:0;
}
.anook-badge > ul > li:before, .anook-badge > ul > li:after{
	content:none;
	background:none;
	padding:0;
	margin:0;
}
.anook-badge > ul > li .img-container img{
	height:40px;
	width:40px;
}
.anook-badge > ul > li .img-container, .anook-badge.thin > ul > li .img-container{
	width:40px;
	height:40px;
	overflow:hidden;
	border-radius:3px;
}
.anook-badge.thin > ul > li .img-container{
	margin:0 auto 5%;
}
.anook-badge > ul > li .right{
	max-width:220px;
}
.anook-badge:not(.thin) > .right{
	max-width:130px;
}
.anook-badge.thin > ul > li:not(:first-child){
	padding-top:10%;
	border-top:1px solid rgba(200,200,200,0.1);
}